@font-face {
    font-family: "Nunito";
    src: local("Nunito"),
     url("./assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Megrim";
    src: local("Megrim"),
     url("./assets/fonts/Megrim-Regular.ttf") format("truetype");
    font-weight: bold;
}

body {
  font: 16px Nunito, Georgia, Cambria, "Times New Roman", Times, serif;;
  margin: 0px;
}

a {color: #DE3163; text-decoration: none;}
a:hover {color: #FF69B4; text-decoration: underline;}

.bg-dark { background-color: #333333 !important; }
