#topmenu { font-weight: bold; }
#topmenu .navbar-brand {color: #ffffff;}
#topmenu .navbar-brand:hover {color: #ffffff;}
#topmenu span {color: #ffffff; margin-left: 5px; }
#topmenu a {color: #DE3163; }
#topmenu a:hover {color: #FF69B4;}
#topmenu .socialmedia a {margin-left: 20px; color: #ffffff;}
